
.btn {
  color: var(--clr-white-500);
  
  background-color: inherit;
  padding: 5px;
}

.btn-subscription {
  background-color: inherit;
  border-radius: 10px;
  padding: 0px 10px;
  margin-top: 4.5rem;
}


.btn-pricing, .btn-book-call {
  width: 150px;
  height: 60px;

  border-radius: 30px;
  border-width: 0.9px;
}

