


:root {
  
    /* *Black  */
    --clr-black-500: #000;





    /** White  */
    --clr-white-500: #fff;



    /* *Red */

    --clr-red-50: #ffdbdb;
    --clr-red-100: #ffbdbd;
    --clr-red-200: #ff7a7a;
    --clr-red-300: #ff3838;
    --clr-red-400: #f50000;
    --clr-red-500: #b00000;
    --clr-red-600: #8f0000;
    --clr-red-700: #6b0000;
    --clr-red-800: #470000;
    --clr-red-900: #240000;
    --clr-red-950: #0f0000;

    /* *Orange */

    --clr-Orange-50: #fff0e5;
    --clr-Orange-100: #ffe0cc;
    --clr-Orange-200: #ffc299;
    --clr-Orange-300: #ffa366;
    --clr-Orange-400: #ff8533;
    --clr-Orange-500: #ff6600;
    --clr-Orange-600: #cc5200;
    --clr-Orange-700: #993d00;
    --clr-Orange-800: #662900;
    --clr-Orange-900: #331400;
    --clr-Orange-950: #190a00;

    /* *Yellow */

    --clr-Yellow-50: #ffffe5;
    --clr-Yellow-100: #ffffcc;
    --clr-Yellow-200: #ffff99;
    --clr-Yellow-300: #ffff66;
    --clr-Yellow-400: #ffff33;
    --clr-Yellow-500: #ffff00;
    --clr-Yellow-600: #cccc00;
    --clr-Yellow-700: #999900;
    --clr-Yellow-800: #666600;
    --clr-Yellow-900: #333300;
    --clr-Yellow-950: #191900;

    /* *Green */

    --clr-Green-50: #f1fef1;
    --clr-Green-100: #e3fde4;
    --clr-Green-200: #cbfbcd;
    --clr-Green-300: #aff8b2;
    --clr-Green-400: #98f69b;
    --clr-Green-500: #7df481;
    --clr-Green-600: #3aee40;
    --clr-Green-700: #11ca17;
    --clr-Green-800: #0c8810;
    --clr-Green-900: #064208;
    --clr-Green-950: #032104;


  
    /* *Purple */

    --clr-Purple-50: #f7eafa;
    --clr-Purple-100: #edd1f5;
    --clr-Purple-200: #dda8eb;
    --clr-Purple-300: #cb7ae1;
    --clr-Purple-400: #ba50d8;
    --clr-Purple-500: #a32cc4;
    --clr-Purple-600: #84249e;
    --clr-Purple-700: #611a75;
    --clr-Purple-800: #42124f;
    --clr-Purple-900: #1f0825;
    --clr-Purple-950: #110515;
  
    --clr-lavender-purple: #E6E6FA;
  
  
  

    /*!Background Color  */
    --clr-bg-wegrow: #052e25;
}