@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Overpass", serif;
  background-color: var();
  padding: 0px 10px;
}


a {
  text-decoration: none;
  color: var(--clr-black-500);
  font-size: 1.2rem;
  font-weight: 400;
}



nav {
  grid-area: Nav;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;

  background-color: #f4f2f0;
}

main {
  grid-area: Main;
  /* border: 1px solid ; */
  margin-top: 75px;

  background-color: var(--clr-white-500);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 10px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}





/*! Styles  */


:root {

  /* *Colors  */

  --clr-black-500: #000000;
  --clr-white-500: #fff ;
  --clr-lavender-purple: #E6E6FA ;




  /** Font Size  */

  --font-size-Normal: 1rem;



}