


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.25vh;
  background-color: var(--clr-background-color);
  color: var(--clr-white-500);
  --clr-background-color: #052e25;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}


ul {
  display: flex ;
  list-style: none;
  gap: 1rem;
  
}

.vertical-line {
  height: 20px;
  border: 1px solid;
}

li > a {
  text-decoration: none;
  color: var(--clr-white-500);
}

.nav-logo {
  margin-left: 1.5rem;
  font-size: 1.5rem;
}

.btn-start-today {
  margin-right: 2rem;
  font-size: 0.8rem;
  padding: 5px 20px;
  border-radius: 15px;
  
  color: var(--clr-white-500);
  border: 1px solid var(--clr-white-500) ;
  background-color: inherit;
}



main {
  margin-top: 7.25vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  "Hero-Section"
  "Sample-Section"
  ;
}


.hero-section {
  grid-area: Hero-Section;

}

.sample-section {
  grid-area: Sample-Section;
}

.sample-section > div > img {
  height: 60vh;
  width: 100%;
  object-fit: contain;
  border: 1px solid;
}