
body {
  padding: 0px;
  margin: 0px;
}



.container {
  border: 5px solid green;
  height: 50vh;
  
  display: flex;
}

.box {
  border: 1px solid red;
  width: 50vw;
  height: 50vh;
  background-color: red;
}

.box-1 {
  background-color: blue;
  width: 50vw;
  height: 50vh;
}


