


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red ;
  height: 6vh;
}


ul {
  display: flex ;
  list-style: none;
  gap: 1rem;
  
}

.vertical-line {
  height: 20px;
  border: 1px solid;
}

li > a {
  text-decoration: none;
  color: var(--clr-black-500);
}

.nav-logo {
  margin-left: 1.5rem;
  font-size: 1.5rem;
}

.btn-start-today {
  margin-right: 2rem;
  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 10px;
}